{
  "parent": "minecraft:block/stairs",
  "textures": {
    "bottom": "minecraft:block/{{ color }}_{{ block }}",
    "top": "minecraft:block/{{ color }}_{{ block }}",
    "side": "minecraft:block/{{ color }}_{{ block }}"
  }
}