{
  "variants": {
    "type=bottom": {
      "model": "terraconcretia:block/{{ color }}_{{ block }}_slab"
    },
    "type=double": {
      "model": "minecraft:block/{{ color }}_{{ block }}"
    },
    "type=top": {
      "model": "terraconcretia:block/{{ color }}_{{ block }}_slab_top"
    }
  }
}